<div class="landing-container">
  <h1 class="title">ORMopher</h1>
  <div class="highlights">
    <div class="highlight">
      <h2>Translation</h2>
      <p>Translate entities, mapping and queries between .NET ORMs.</p>
      <button routerLink="/" class="highlight-button">Go to Translation</button>
    </div>
    <div class="highlight">
      <h2>Advisor</h2>
      <p>Get recommendation of the most optimal ORM for your queries.</p>
      <button routerLink="/advisor" class="highlight-button">Go to Advisor</button>
    </div>
  </div>
</div>
