<div class="pane-container">

  <div class="pane left">
    <label class="orm-label">
      Source ORM
      <select [(ngModel)]="sourceOrm" (ngModelChange)="onSourceOrmChange($event)">
        @for (opt of ormTypeOptions; track opt.value) {
          <option [value]="opt.value">{{ opt.key }}</option>
        }
      </select>
    </label>

    @if (error) {
      <pre>{{ error }}</pre>
    }

    <button class="fill-sample-btn" (click)="fillWithSamples()">Fill Samples</button>

    @for (unit of displayUnits; track $index) {
      <app-content-display
        [description]="unit.description"
        [contentType]="unit.contentType"
        [(content)]="contentByUnit[unit.id]">
      </app-content-display>
    }

  </div>


  <div class="pane right">
    <h3>Constraints</h3>
    <div class="constraints">
      <label for="memory-kb" class="constraint-label">Memory (KB)</label>
      <input id="memory-kb" class="constraint-input" type="number" placeholder="" />
      <label for="max-frameworks" class="constraint-label">Max Frameworks</label>
      <input id="max-frameworks" class="constraint-input" type="number" placeholder="" />
    </div>

    <h3>Target Frameworks</h3>

    <div #tfGroup class="target-frameworks">
      @for (opt of ormTypeOptions; track opt.value) {
        <label>
          <input type="checkbox"
                 [value]="opt.value" />
          {{ opt.key }}
        </label>
      }
      <button class="select-all-btn" (click)="selectAllTargets(tfGroup)">Select All</button>
    </div>

    <button class="middle-button" (click)="convert()" [disabled]="isLoading">
      Optimize
    </button>
    
    <h3 *ngIf="isLoading" class="optimizing-text">
      Optimizing{{ loadingDots }}
    </h3>

    @if (showResults) {
      <div class="results">
        <app-result-table></app-result-table>
        <div>
          <h3>Recommendation: Dapper</h3>
          <p>Runtime: 960 ms</p>
          <p>Memory: 43,082 kB</p>
        </div>
      </div>
      <hr>
      <label class="orm-label">Results (Dapper)</label>

      @for (unit of convertedUnits; track $index) {
        <app-content-display
          [description]="unit.contentType | contentTypeToString"
          [contentType]="unit.contentType"
          [content]="unit.content"
          [readonly]="true">
        </app-content-display>
      }
    }
  </div>
  

</div>
